main {
    /* padding-block: 50px; */
    margin-bottom: 0;
}

.image-text {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    font-size: 1.3rem;
}

.image-text::before {
    z-index: 1;
    content: "";
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    inset: 0;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}

main > section * {
    z-index: 2;
}

#introduction {
    aspect-ratio: 1440 / 810;
    width: 80%;
}

#introduction::before {
    background-image: url("../images/introduction.jpg");
}

#introduction h2 {
    color: black;
    font-size: 2.0rem;
    margin-inline: auto;
    margin-top: 20px;
}

#introduction p {
    width: 60%;
    margin-inline: auto;
    padding-bottom: 45%;
}

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
}

/* .row:nth-of-type(2), */
/* .row:nth-of-type(3) { */
/*     height: 300px; */
/* } */

.row:nth-of-type(2),
.row:nth-of-type(3),
.row:nth-of-type(4),
.row:nth-of-type(5){
    height: 425px;
}

.image-text h2 {
    margin-inline: auto;
    margin-top: 75px;
    font-size: 2.5rem;
    text-align: center;
}

.image-text a {
    text-shadow: none;
    text-decoration: none;
    text-align: center;
    width: 40%;
    margin-bottom: 75px;
    border-radius: none;
    border: none;
    color: whitesmoke;
    background-color: #7B68EEDD;
    padding-block: 15px;
    font-size: 1.5rem;
    transition: background-color 300ms ease;
    border-radius: 5px;
}

.image-text a:hover {
    background-color: #6A5ACDFF;
}

.image-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#overview::before,
#conclusion::before {
    background-attachment: fixed;
}

#conclusion::before {
    background-size: 80%;
    background-position: right;
}

/* #second-period::before { */
/*     background-size: 50%; */
/*     background-position: right; */
/* } */

.row section::before {
    background-size: cover;
    filter: brightness(0.7);
    transition: filter 400ms ease;
}

.row section:hover::before {
    filter: brightness(0.5);
}

#first-period {
    width: 50%;
    aspect-ratio: 2048 / 1153;
}

#first-period::before {
    background-image: url("../images/premiere_periode.jpg");
}

#overview {
    width: 100%;
}

#overview::before {
    background-image: url("../images/vue_ensemble.jpg");
}

#acteurs {
    width: 100%;
}

#acteurs::before {
    background-image: url("../images/acteurs.jpg");
}

#second-period {
    width: 50%;
    aspect-ratio: 2048 / 1114;
}

#second-period::before {
    background-image: url("../images/deuxieme_periode.jpg");
}

#interview {
    width: 50%;
    aspect-ratio: 2048 / 1366;
}

#interview::before {
    background-image: url("../images/interview.jpg");
}

#conclusion {
    width: 50%;
    aspect-ratio: 2048 / 1366;
}

#conclusion::before {
    background-image: url("../images/conclusion.jpg");
}

#bibliographie {
    width: 50%;
    aspect-ratio: 1900 / 1080;
}

#bibliographie::before {
    background-image: url("../images/bibliographie.jpg");
}

#a_propos {
    width: 50%;
    aspect-ratio: 2048 / 1366;
}

#a_propos::before {
    background-image: url("../images/a_propos.jpg");
}
