#main-article {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.sub-article {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-inline: 100px;
    padding-block: 25px;
}

.sub-article h2 {
    font-size: 2.0rem;
}

.sub-article:nth-of-type(2n) {
    flex-direction: row-reverse;
}

.sub-article:nth-of-type(2n) .article-text {
    padding-left: 50px;
    padding-right: 0;
}

.article-image {
    object-fit: cover;
    /* aspect-ratio: 315 / 187; */
    /* max-height: 187px; */
    /* max-width: 33%; */
    /* max-height: 100%; */
}

.article-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.article-text {
    text-align: justify;
    text-justify: inter-word;
    padding-right: 50px;
    font-size: 1.1rem;
}
