main {
    margin-bottom: 0;
}

#title {
    background-image: url("../images/conclusion_2.jpg");
    background-position: center;
    background-size: cover;
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#title h2 {
    font-family: "Pacifico", cursive;
    font-weight: 200;
    font-size: 3rem;
    color: white;
    --bg-color: rgba(0, 0, 0, 0.6);
    background-color: var(--bg-color);
    box-shadow: 0px 0px 25px 25px var(--bg-color);
}

#first-part,
#second-part {
    padding-block: 50px;
}

#first-part,
#second-part {
    display: flex;
    flex-direction: row;
}

#first-part img {
    width: auto;
    height: auto;
    aspect-ratio: 474 / 355;
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#first-part .text {
    /* width: 65%; */
    margin-right: 50px;
}

#first-part p {
    font-weight: 500;
    text-align: justify;
    font-size: 1.2rem;
    color: black;
}

#second-part {
    background-color: #011f39;
    padding-inline: 50px;
}

#second-part p {
    color: white;
    margin-inline: auto;
    font-weight: 500;
    text-align: justify;
    font-size: 1.2rem;
    padding-right: 25px;
}

#second-part img {
    display: block;
    margin: auto;
    width: 500px;
}
