:root {
    font-family: 'Roboto', sans-serif;
    --navbar-height: 60px;
    --banner-height: calc(1.5 * var(--navbar-height));
    --above-content-padding: calc(var(--navbar-height) + var(--banner-height));
    --below-content-padding: calc(2 * var(--navbar-height));
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: left top;
    position: absolute;
    overflow-x: hidden;
}

main {
    margin-bottom: var(--below-content-padding);
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: white;
}

p {
    text-align: justify;
    text-justify: inter-word;
}

#logo {
    margin-top: 10px;
    aspect-ratio: 1 / 1;
    height: calc(var(--banner-height) - 10%);
    width: auto;
}

#logo img {
    width: 100%;
    height: auto;
    filter: drop-shadow(0px 0px 10px black);
}

#banner {
    height: var(--banner-height);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

hr {
    margin-top: -15px;
    margin-inline: 20%;
    min-width: 50%;
    height: 1px;
    background-color: black;
    border: 0;
}

.sup {
    font-size: 70%;
    position: relative;
    bottom: 0.5em;
}
