main {
    background-color: #FFFFFFBB;
    backdrop-filter: blur(5px);
    font-size: 1.1rem;
}

p {
    width: 60%;
    margin-top: 10px;
    margin-bottom: 0;
    margin-inline: auto;
    text-align: center;
    padding: 0;
}

main ul {
    margin-top: 10px;
    margin-bottom: 0;
}

iframe {
    margin-top: 25px;
}
