{{#*inline "stylesheets"}}
    <link rel="stylesheet" href="static/css/a_propos.css">
{{/inline}}

{{#*inline "main"}}
    <h1>L'équipe</h1>
    <hr>
    <section id="authors">
        <div class="author">
            <img class="author_img" src="static/images/lila.jpg">
            <p class="author_desc"><span><big>Lila</big><br>Designeuse</span></p>
        </div>
        <div class="author">
            <img class="author_img" src="static/images/leo.jpg">
            <p class="author_desc"><span><big>Léo</big><br>Rédacteur</span></p>
        </div>
        <div class="author">
            <img class="author_img" src="static/images/matteo.jpg">
            <p class="author_desc"><span><big>Mattéo</big><br>Enquêteur</span></p>
        </div>
        <div class="author">
            <img class="author_img" src="static/images/morgan.jpg">
            <p class="author_desc"><span><big>Morgan</big><br>Webmaster</span></p>
        </div>
        <div class="author">
            <img class="author_img" src="static/images/arthur.jpg">
            <p class="author_desc"><span><big>Arthur</big><br>Enquêteur</span></p>
        </div>
        <div class="author">
            <img class="author_img" src="static/images/justin.jpg">
            <p class="author_desc"><span><big>Justin</big><br>Chef de projet</span></p>
        </div>
    </section>
    <h1>Contexte</h1>
    <hr>
    <section id="context">
        <p>{{ contexte }}</p>
    </section>
{{/inline}}

{{~> layout title="À propos" ~}}
