{{#*inline "stylesheets"}}
    <link rel="stylesheet" href="static/css/about.css">
{{/inline}}

{{#*inline "main"}}
    <h1>L'équipe</h1>
    <hr>
    <section id="authors">
        <div class="author">
            <img class="author_img" src="static/images/lila.png">
            <p class="author_desc"><span><big>Lila</big><br>Designeuse</span></p>
        </div>
        <div class="author">
            <img class="author_img" src="static/images/leo.jpg">
            <p class="author_desc"><span><big>Léo</big><br>Rédacteur</span></p>
        </div>
        <div class="author">
            <img class="author_img" src="static/images/mateo.jpg">
            <p class="author_desc"><span><big>Matéo</big><br>Enquêteur</span></p>
        </div>
        <div class="author">
            <img class="author_img" src="static/images/morgan.png">
            <p class="author_desc"><span><big>Morgan</big><br>Webmaster</span></p>
        </div>
        <div class="author">
            <img class="author_img" src="static/images/arthur.jpg">
            <p class="author_desc"><span><big>Arthur</big><br>Enquêteur</span></p>
        </div>
        <div class="author">
            <img class="author_img" src="static/images/personne.png">
            <p class="author_desc"><span><big>Justin</big><br>Chef de projet</span></p>
        </div>
    </section>
{{/inline}}

{{~> layout title="À propos" ~}}
