{{#*inline "stylesheets"}}
    <link rel="stylesheet" href="/static/css/about.css">
{{/inline}}

{{#*inline "main"}}
    <section id="authors">
    </section>
{{/inline}}

{{~> layout title="À propos" ~}}
