{{#*inline "stylesheets"}}
    <link rel="stylesheet" href="static/css/accueil.css">
{{/inline}}

{{#*inline "main"}}
    <section id="introduction" class="image-text">
        <h2>Commercialisation du home-test pour dépister le syndrome de Bloom</h2>
        <p>{{ introduction }}</p>
    </section>
    <section class="row">
        <section id="overview" class="image-text">
            <h2>Vue d'ensemble</h2>
            <a href="vue_ensemble">Accéder</a>
        </section>
        <section id="acteurs" class="image-text">
            <h2>Acteurs</h2>
            <a href="acteurs">Venez les découvrir</a>
        </section>
    </section>
    <section class="row">
        <section id="first-period" class="image-text">
            <h2>1<span class="sup">ère</span> période<br>23andMe contre la FDA</h2>
            <a href="premiere_periode">Accéder</a>
        </section>
        <section id="second-period" class="image-text">
            <h2>2<span class="sup">ème</span> période<br>La FDA approuve l'home-test</h2>
            <a href="deuxieme_periode">Accéder</a>
        </section>
    </section>
    <section class="row">
        <section id="interview" class="image-text">
            <h2>Interview</h2>
            <a href="interview">Accéder</a>
        </section>
        <section id="conclusion" class="image-text">
            <h2>Conclusion</h2>
            <a href="conclusion">Accéder</a>
        </section>
    </section>
    <section class="row">
        <section id="bibliographie" class="image-text">
            <h2>Bibliographie</h2>
            <a href="bibliographie">Nos sources</a>
        </section>
        <section id="a_propos" class="image-text">
            <h2>À propos</h2>
            <a href="a_propos">Qui sommes-nous ?</a>
        </section>
    </section>
{{/inline}}

{{~> layout title="Accueil" ~}}
