{{#*inline "stylesheets"}}
    <link rel="stylesheet" href="static/css/accueil.css">
{{/inline}}

{{#*inline "main"}}
    <section id="introduction" class="image-text">
        <h2>Commercialisation du home-test pour dépister le syndrome de Bloom</h2>
        <p>{{ introduction }}</p>
    </section>
    <section id="second-row">
        <section id="overview" class="image-text">
            <h2>Vue d'ensemble</h2>
            <a href="overview">Accéder</a>
        </section>
        <section id="first-period" class="image-text">
            <h2>1<span class="sup">ère</span> période<br>23andMe contre la FDA</h2>
            <a href="first_period">Accéder</a>
        </section>
    </section>
{{/inline}}

{{~> layout title="Accueil" ~}}
