{{#*inline "stylesheets"}}
    <link rel="stylesheet" href="static/css/acteurs.css">
{{/inline}}

{{#*inline "main"}}
    <h1>Acteurs</h1>
    <hr>
    <article id="main-article">
        <p>
            Nous avons mis à votre disposition ce KUMU pour mieux comprendre quelles places occupent chacun des acteurs de notre controverse.<br>
            Pour cela vous pouvez cliquer sur chaque bulle présentée ci-dessus pour faire apparaître le descriptif de l'acteur et vous pouvez cliquer sur les flèches pour faire apparaître les liens entre les différents acteurs.
        </p>
        <iframe src="https://embed.kumu.io/f30a54907aec8eee0a74628b9d710903" width="1200" height="800" frameborder="0"></iframe>
        <!--
        <article class="sub-article">
            <section class="article-content">
                <h2>FDA</h2>
                <p class="article-text">{{ fda }}</p>
            </section>
            <img class="article-image" src="static/images/fda.png">
        </article>
        <hr class="article-sep">
        <article class="sub-article">
            <section class="article-content">
                <h2>23andMe</h2>
                <p class="article-text">{{ ttandme }}</p>
            </section>
            <img class="article-image" id="ttandme-img" src="static/images/23andMe.png">
        </article>
        <hr class="article-sep">
        <article class="sub-article">
            <section class="article-content">
                <h2>Google</h2>
                <p class="article-text">{{ google }}</p>
            </section>
            <img class="article-image" src="static/images/google.png">
        </article>
        <hr class="article-sep">
        <article class="sub-article">
            <section class="article-content">
                <h2>Chercheurs et scientifiques</h2>
                <p class="article-text">{{ chercheurs }}</p>
            </section>
            <img class="article-image" src="static/images/chercheurs.jpg">
        </article>
        -->
    </article>
{{/inline}}

{{~> layout title="Acteurs" ~}}
