{{#*inline "stylesheets"}}
    <link rel="stylesheet" href="static/css/actors.css">
{{/inline}}

{{#*inline "main"}}
    <h1>Acteurs</h1>
    <hr>
    <article id="main-article">
        <article class="sub-article">
            <section class="article-content">
                <h2>FDA</h2>
                <p class="article-text">{{ fda }}</p>
            </section>
            <img class="article-image" src="static/images/fda.png">
        </article>
        <article class="sub-article">
            <section class="article-content">
                <h2>23andMe</h2>
                <p class="article-text">{{ ttandme }}</p>
            </section>
            <img class="article-image" src="static/images/23andMe.png">
        </article>
        <article class="sub-article">
            <section class="article-content">
                <h2></h2>
                <p class="article-text">{{ google }}</p>
            </section>
            <img class="article-image" src="">
        </article>
    </article>
{{/inline}}

{{~> layout title="À propos" ~}}
