{{#*inline "stylesheets"}}
    <link rel="stylesheet" href="static/css/conclusion.css">
{{/inline}}

{{#*inline "main"}}
    <section id="title">
        <h2>Conclusion</h2>
    </section>
    <section id="first-part">
        <img src="static/images/image1_conclu.jpg">
        <div class="text">
            <p>{{ paragraph_1 }}</p>
            <p>{{ paragraph_2 }}</p>
        </div>
    </section>
    <section id="second-part">
        <div class="text">
            <p>{{ paragraph_3 }}</p>
            <p>{{ paragraph_4 }}</p>
        </div>
        <img src="static/images/graphique_conclu.jpg">
    </section>
{{/inline}}

{{~> layout title="Conclusion" ~}}
