{{#*inline "stylesheets"}}
    <link rel="stylesheet" href="static/css/conclusion.css">
{{/inline}}

{{#*inline "main"}}
    <section id="title">
        <h2>Conclusion</h2>
    </section>
    <section id="first-part">
        <p>{{ paragraph_1 }}</p>
        <p>{{ paragraph_2 }}</p>
    </section>
    <section id="second-part">
        <p>{{ paragraph_3 }}</p>
        <p>{{ paragraph_4 }}</p>
    </section>
{{/inline}}

{{~> layout title="Conclusion" ~}}
