{{#*inline "stylesheets"}}
    <link rel="stylesheet" href="static/css/deuxieme_periode.css">
{{/inline}}

{{#*inline "main"}}
    <section id="introduction">
        <p>{{ introduction }}</p>
    </section>
{{/inline}}

{{~> layout title="2ème période" ~}}
