<ul>
    <li><a href="/">Accueil</a></li>
    <li><a>Acteurs</a></li>
    <li><a>Vue d'ensemble</a></li>
    <li><a>1ère période</a></li>
    <li><a>2ème période</a></li>
    <li><a>Conclusion</a></li>
    <li><a>Blibliographie</a></li>
    <li><a href="/about">À propos</a></li>
</ul>
