<ul>
    <li><a href="accueil">Accueil</a></li>
    <li><a href="acteurs">Acteurs</a></li>
    <li><a href="introduction">Introduction</a></li>
    <li><a href="premiere_periode">1<span class="sup">ère</span> période</a></li>
    <li><a href="deuxieme_periode">2<span class="sup">ème</span> période</a></li>
    <li><a href="vue_ensemble">Vue d'ensemble</a></li>
    <li><a href="interview">Interview</a></li>
    <li><a href="conclusion">Conclusion</a></li>
    <li><a href="bibliographie">Bibliographie</a></li>
    <li><a href="a_propos">À propos</a></li>
</ul>
