{{#*inline "stylesheets"}}
    <link rel="stylesheet" href="static/css/premiere_periode.css">
{{/inline}}

{{#*inline "main"}}
    <h1>1<span class="sup">ère</span> période : 23andMe contre la FDA</h1>
    <hr>
    <article>
        <section id="introduction">
            <div>
                <img src="static/images/anne_wojcicki.png">
            </div>
            <section>
                <h2>Description de la position intiale</h2>
                <p>{{ introduction }}</p>
            </section>
        </section>
        <section id="second_part">
            <h2>Commercialisation du home-test</h2>
            <p>{{ commercialisation }}</p>
        </section>
        <section>
            <h2>Raison du refus à la commercialisation</h2>
        </section>
    </article>
{{/inline}}

{{~> layout title="1ère période" ~}}
