{{#*inline "stylesheets"}}
    <link rel="stylesheet" href="static/css/vue_ensemble.css">
{{/inline}}

{{#*inline "main"}}
    <h1>Vue d'ensemble</h1>
    <hr>
    <p>
        Voici une Timeline mise à votre disposition représentant la chronologie depuis la création de 23andMe jusqu'à sa commercialisation de son home test ADN pour dépister le syndrome de Bloom.
    </p>
    <p>
        Elle regroupe nos acteurs représentés de différentes couleurs:
    </p>
    <ul>
        <li>au dessus de la frise en cyan la FDA</li>
        <li>en dessous de la frise en orange 23andMe</li>
        <li>en dessous de la frise en bleu foncé Google</li>
    </ul>
    <p>
        Vous pouvez zoomer, vous déplacer sur la frise et cliquer sur les textes pour avoir plus d’informations.
    </p>
    <iframe width="100%" height="400" src="https://time.graphics/fr/embed?v=1&id=624016" frameborder="0" allowfullscreen></iframe>
{{/inline}}

{{~> layout title="Vue d'ensemble" ~}}
